<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            AirJet
            <img src="../img/logo.svg">
            <div class="logo-subtitle">
                Your low cost airline
            </div>
        </div>
        <div class="login-container">
            <form>
                <div class="log-in">
                    LOG IN
                </div>
                Login
                <input name="login" type="text" placeholder="jan.kowalski@gmail.com">
                Password
                <input name="password" type="password" placeholder="**********">
                <button>Log in</button>
            </form>
        </div>
    </div>
</body>